.terlaris-box{
    margin: 10px;
    padding: 20px;
}
/* .item{
    float: center;
    padding: 50px;
    margin: 200px;
} */
.container{
    display: flex;
    justify-content: left;
}
h3{
    background-color: red;
    padding: 10px;
    margin: 30px;
    color: white;
}
.row{
    margin: 20px;
    justify-content: center;
}
p{
    font-size: 20px;
}
