<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Description</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/stylebookinc.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-fixed-top navbgcolor">
        <!-- Brand -->
        <a class="navbar-brand" href="#">
            <img src="{% static 'images/logoweb.png' %}" alt="logo" style="width:60px;">
        </a>
        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <p class="nav-link brandtext" href="#">BOOK-Inc</p>
          </li>
        </ul>

        <form class="form-inline " action="/action_page.php">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
          <!-- Dropdown -->
          
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="navbar-brand" style="width: 42px;"nav-link dropdown-toggle buttondown href="#" id="navbardrop" data-toggle="dropdown">
            <img src="{% static 'images/buttondown.png' %}" class="buttondown">
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#"><p>Romansa</p></a>
              <a class="dropdown-item" href="#"><p>Horror</p></a>
              <a class="dropdown-item" href="#"><p>Politik</p></a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><p class="kategori">Kategori</p></a>
          </li>
          <li class="nav-item">
          <a class="navbar-brand">
              <img src="{% static 'images/history putih.png' %}" alt="logo" style="width:45px;">
          </a>
        </li>
          <li class="nav-item">
              <a class="nav-link" href="#"><p class="kategori">History</p></a>
          </li>
          <li class="nav-item">
          <a class="navbar-brand">
              <img src="{% static 'images/login.png' %}" alt="logo" style="width:50px;">
            </a>
          </li>
              <li class="nav-item">
              <a class="nav-link" href="#"><p class="kategori">Masuk</p></a>
          </li>
        </ul>
      </nav>
      <br>

      <d  iv class="container-fluid">
    <div class="row">  
      <div class="kolom upper mc">
      <div>
    <div class="boximage">
      <div class="buku1"><img src="{% static 'images/book4.png' %}"></div>
    </div>
    <div class="boxjudul judul">MASIH BELAJAR</div>
    <div class="boxharga harga">$ 10.50</div>
      </div>  
  <div>
  <button class="button"><img src="{% static 'images/shoppingcart.png' %}" class="shopping">Beli / Pinjam</button>
  </div>
    </div>

  <div class="col" style="margin-left:15%">
  <div class="row">
    <div class="boxdesk1 konten">Penulis<br><br><br>Pemilik<br><br><br>Penerbit<br><br><br>Tahun<br>Terbit<br><br><br>Genre </div>
    <div class="boxdesk2"></div>
  </div>
  <div class="col" style="margin-left:-30px" >
    <div class="boxsinopsis1 sinopsis">Sinopsis</div>
    <div class="boxsinopsis2"></div>
    </div>
    </div>
    </div>
      </div>

</body>
</html>