{% load static %}

<!DOCTYPE html>
<html class="h-100">
<section class = "Background">
	<head>
		<title>Form Peminjaman</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		<link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

		<link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}">
	</head>

	<body style="overflow: hidden;" style="min-height: 100vh;" class="d-flex flex-column justify-content-center h-100 w-100 Background" style="background-image:download.png">
		<section class="container-fluid" class="h-100 w-100">
			<div class="row h-100">
				<div class="col d-flex flex-column justify-content-center mx-5 px-5 h-100 Everything">
					<div class="row ml">
						<div class="col text-center mt-5 mb-3 Title" ><h2>FORM PEMINJAMAN</h2></div>
					</div>
					<form method="POST">
						<div class="row">
							<div class="col mt-3 Forms">
								{% csrf_token %}
								{% for e in formkosong %}
									<p class="w-75">{{ e.label }}: {{ e }}</p>
								{% endfor %}
							</div>
						</div>
						
					<div class = "row my-4">
						<div class="col">
							<p>Bila buku belum dikembalikan hingga H + 1 bulan maka peminjam akan dikenai denda<br>
							sebesar 2rb/hari dan maksimal Rp500.000,00</p>
						</div>
					</div>
					<div class="row mb-5">
						<div class="col d-flex justify-content-end"> 
							<button type="submit" value="Submit" class="btn btn-dark m-2">Pinjam</button>
						</div>
					</div>
					</form>

				</div>
			</div>
		</section>
	</body>
	</section>
</html>