<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Riwayat</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Tahoma' rel='stylesheet'>
    </head>

    <body>
        <div class = "sect-riwayat">
            <div class="container">
                <h1 class="text-center title pt-5 pb-5"><br><b>RIWAYAT</b></h1>
                <br>
                <div style="overflow-x:auto;"class="col-md-12 left">
                    <table class="table table-hover">
                        <thead>
                            <tr class="text-light bg-dark">
                                <!--<th scope="col">No</th>-->
                                <th scope="col">Judul Buku</th>
                                <th scope="col">Tanggal Pinjam</th>
                                <th scope="col">Tanggal Kembali</th>
                                <th scope="col">Nama Peminjam</th>
                            </tr>
                        </thead>
                        <tbody>
                    {% for i in out %}
                        
                            <tr class="table-danger">
                               <!-- <td>{{ x }}</td>-->
                                <td>xx</td>
                                <td>{{ i.tanggalPinjam }}</td>
                                <td>{{ i.tanggalKembali }}</td>
                                <td>{{ i.nama }}</td>
                            </tr>
                        <!--
                            <tr class="table-light">
                                <td>{{ x }}</td>
                                <td>{{ i.nama }}</td>
                                <td>{{ i.tanggalPinjam }}</td>
                                <td>{{ i.tanggalKembali }}</td>
                                <td>Farras</td>
                            </tr>
                           
                       -->
                    {% endfor %}
                        </tbody>
                    </table>
            </div>
            <button type="submit" class="btn btn-primary float-right text-light bg-dark">KEMBALI</button>

            <h4 class="text-left title pt-5 pb-5"><b>Ajukan Komplain</b></h4>
            <form action = "/riwayat/add_riwayat/" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <textarea name="pertanyaan" type="text" class="form-control" rows="3" placeholder="Masukkan pertanyaanmu"></textarea>
                </div>
                <button type="submit" class="btn btn-primary float-right text-light bg-dark">KIRIM</button>
            </form>
            <div class="pt-5"></div>
            {% for i in Riwayat %}
            <div class ="pb-2"></div>
            <div class="card bg-light">
                <div class="card-body">
                    <p class="card-text">{{ i.pertanyaan }}</p>
                </div>
            </div>
            {% endfor %}
            <div class = 'pb-5'></div>
            <div class = 'pb-5'></div>

        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>

