.Background{
	background-color:white;
}
.Everything{
	background-color:#FADBD8;
	color:black;
	font-weight: bold;
	font-family:Tahoma;
	text-align:center;
}
.Forms{
	text-align: left;
	margin-left: 35%
}

@media (max-width: 767.98px){
	.Everything{
		margin-top:5s%;
		font-size:10px;
		margin-bottom:5s%;
	}
	h2{
		font-size:24px;
	}
	.Forms{
		margin-left:14%;
	}
}