.navbgcolor{
    background-color:#F00505;
}

.brandtext{
width: 250px;
height: 48px;
font-family: Tahoma;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 48px;
letter-spacing: 0.08em;
color: #FEFEFE;
}

.buttondown{
width: 42px;
height: 25px;
}

.kategori{
width: 250px;
height: 70px;
font-family: Tahoma;
font-style: normal;
font-weight: normal;
font-size: 27px;
line-height: 33px;
color: #000000;
}

.judul{
    width: 230px;
    height: 50px;
    font-family: Tahoma;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 30px;
    padding-top: 15px;
    text-align: center;
    color: #F00505
}

.harga{
    width: 261px;
    height: 45px;
    font-family: Tahoma;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 33px;
    padding top: 15px;
    text-align: center;
    letter-spacing: 0.21em;
    color: #F00505;
}

.boximage{
    position: relative;
    width: 470px;
    height: 399px;
    border: 4px solid black;
    border-bottom: hidden;
    overflow: auto;
}

.buku1{
    position: absolute;
    width: 200px;
    height: 310.86px;
    top: 50%;
    left: 28%;
    transform: translate(0, -50%);
}

.boxjudul{
    width: 470px;
    height: 100px;
    border: 4px solid black;
    border-bottom: hidden;
}

.boxharga{
    width: 470px;
    height: 66px;
    border: 4px solid black;
}

.centered{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    display: block;
    width: 200px;
    height: 310.86px;
}

.button {
    background-color: #F00505;
    border: none;
    color: white;
    padding: 15px 40px;
    /* padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Tahoma;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    margin: 4px 2px;
    cursor: pointer;
}

.shopping{
    width: 54px;
    height: 52px;
}

.bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.konten{
    width: 116px;
    height: 31px;
    font-family: Tahoma;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    padding-top: 30px;
}

.sinopsis{
    width: 116px;
    height: 31px;
    font-family: Tahoma;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    padding-top: 10px;
    text-align: center;
    color: #000000;
}

.boxdesk1{
    width: 166px;
    height: 563px;
    border: 3px solid black;
    border-bottom: hidden;
    border-right: 1px solid black;
}

.boxdesk2{
    width: 524px;
    height: 563px;
    border: 3px solid black;
    border-bottom: hidden;
    border-left: hidden;
}

.boxsinopsis1{
    width: 690px;
    height: 53px;
    border: 1px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
}

.boxsinopsis2{
    width: 690px;
    height: 207px;
    border: 3px solid black;
    border-top: hidden;
}

.upper
{
  display:flex;
  flex-direction:row;
  padding:10px; /* this */
}

.upper > div
{
  flex:1 1 auto;
  text-align:center;
  margin:10px;  /* and that, will result in a 10px gap */
}

.upper.mc{
    flex-direction:column;
    flex-wrap:wrap;
}