<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Book-Inc</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel = "stylesheet" href="{% static 'css/stylehome.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container"> 
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="{% static 'images/quotes_3.jpg' %}" width="100%" alt="This is quotes">
      </div>

      <div class="item">
        <img src="{% static 'images/quotes_buku1.jpg' %}" alt="This is quotes">
      </div>
    
      <div class="item">
        <img src="{% static 'images/quotes_2.jpg' %}" alt="This is quotes">
      </div>
    </div>
    
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

  <div class= "container">
      <div class="row">
          <div class="col">
            <h3><strong>TERLARIS</strong></h3>
          </div>
      </div>  
  </div>
  <div class= "container">
      <div class="row">
          <div class="col">
              <img src="{% static 'images/book1.jpg' %}" width="150px">
          </div>
          <div class="col">
              <p>THE SUBTLE ART OF</p>
              <p> NOT GIVING A F*CK</p>
          </div>
      </div>
      <div class="row">
        <div class="col">
            <img src="{% static 'images/book2.jpg' %}" width="150px">
        </div>
        <div class="col">
            <p>MANTAPPU-JIWA</p>
        </div>
      </div>
      <div class="row">
          <div class="col">
              <img src="{% static 'images/book3.jpg' %}" width="170px">
          </div>
          <div class="col">
              <p>MASIH BELAJAR</p>
          </div>
        </div>
        
      <div class="row">
        <div class="col">
            <img src="{% static 'images/BUMI.jpg' %}" width="150px">
        </div>
        <div class="col">
            <p>Bumi</p>
        </div>
      </div> 
  </div>
  
  <div class= "container">
      <div class="row">
          <div class="col">
            <h3><strong>ROMANSA</strong></h3>
          </div>
      </div>  
  </div>
  <div class= "container">
      <div class="row">
          <div class="col">
              <img src="{% static 'images/book1.jpg' %}" width="150px" >
          </div>
      </div>
      <div class="row">
        <div class="col">
            <img src="{% static 'images/book2.jpg' %}" width="150px">
        </div>
      </div>
      <div class="row">
          <div class="col">
              <img src="{% static 'images/book3.jpg' %}" width="170px">
          </div>
        </div>
       <div class="row">
        <div class="col">
            <img src="{% static 'images/BUMI.jpg' %}" width="150px">
        </div>
      </div> 
  </div>
    
  <div class= "container">
      <div class="row">
          <div class="col">
            <h3><strong>Saran</strong></h3>
          </div>
      </div>  
  </div>

  <form>
      {% csrf_token %}
      <div class="form-group">
          <textarea name="feedbacks" type="text" class="form-control" rows="3" placeholder="Berikan Saran"></textarea>
      </div>
      <button type="submit" class="btn btn-primary float-right text-light bg-dark">Kirim</button>
  </form>
  <div class="pt-5"></div>
  {% for i in feedbacks %}
  <div class="pb-2"></div>
  <div class="card bg-light">
    <div class= "card-body">
        <p class="card-text">{{i.isi}}</p>
    </div>
  </div>
  {% endfor %}  
  
</body>
</html>
